@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5fc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  --yellow-1: #f59d38;
  --yellow-2: #e8a83f;
  --green-4: #7fb099;
  --green-3: #3d8865;
  --green-2: #3b732d;
  --green-1: #005f3a;

}